@charset "UTF-8";

body{
	background-color: #fff2cc;
	width:1000px;
	margin:0 auto;	
}
header>ul,.threadDetailTitle>ul{
	display:flex;
	list-style:none;
	text-align:left;
	font-size:14px;
}
div{
	padding:0;
}
h1,h2,h3,h4,h5{
	text-align:center;
}
h1{
	font-weight:normal;
}
table{
	margin:0;
	width:100%;
	border-collapse:collapse;
}
th,td{
	vertical-align:top;
}
th{
	text-align:left;
}
.width20{
	width:20%;
}
.width30{
	width:30%;
}
.width50{
	width:50%;
}
.width60{
	width:60%;
}
.width70{
	width:70%;
}
.width100{
	width:100%;
}

td>span{
	color:red;
	font-size:14px
}
input,select,textarea{
	border-radius:4px;
	border-width:1px;
	width:auto;
}
input:focus,select:focus,textarea:focus{
	border-color:#66afe9;
	box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
	box-shadow: 0 0 8px rgb(102 175 233 / 60%);
	outline:0;
	
}
textarea{
	width:315px;
}
.btn{
	padding:1px 20px;
	border-radius:4px;
}
.search{
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	height:20px;
}
.searchBtn{
	height:auto;
	padding:1px 20px;
	position:relative;
	right:6px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	vertical-align:middle;
}
.create{
	background-color:#4a86e8ff;
	color:#fff;
}
.modify{
	background-color:#34a853ff;
	color:#fff;
}
.delete{
	background-color:#ff0000ff;
	color:#fff;
}
.floatR{
	float:right;
}
.right15{
	position:relative;
	right:15%;
}
.margin10{
	margin:10px;
}
.marginT25{
	margin-top:25px;
}
.marginT50{
	margin-top:50px;
}
.marginL50{
	margin-left:50px;
}
.marginTB50{
	margin:50px 0;
}
.marginB100{
	margin-bottom:100px;
}
.margin10_200{
	margin:10px 200px;
}
.padding0{
	padding:0;
}
.border1{
	border: 1px solid #000;
}
.border-none{
	border:none;
}
.border-bottom{
	border-bottom:1px solid #000;
}
.searchBox{
	text-align:center;
}
.msg{
	color:red;
	font-size: 15px;
    margin: 5px;
}
.flex{
	display:flex;
}
img{
	vertical-align:middle;
	width:15px;
	height:auto;
}